@model PriyangaBankAdmin.ViewModels.Kundregister.CustomerDetailsViewModel
@{
    Layout = null;
}


<div class="row">
    @if (Model.Name == null)
    {
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <p class="card-text">Ingen kund matchar det angivna kundnumret</p>
            </div>
        </div>
    }
    else
    {

        <div class="col-4">
            <div class="card">
                <div class="card-header">Kundnummer: @Model.Id</div>
                <div class="card-body">
                    <h3 class="card-title"><i class="pr-1 fas @(Model.Gender == "female" ? "fa-venus" : "fa-mars")"></i>@Model.Name </h3>
                    <p class="card-text">
                        Personnummer: @(Model.NationalId != null ? Model.NationalId : "-")<br />
                        Födelsedatum: @Model.Birthday<br />
                        <hr />
                        <h6 class="card-subtitle mb-2 text-muted">Kontaktuppgifter</h6>
                        (+@Model.Telephonecountrycode) - @Model.Telephone<br />
                        @Model.Email<br /><br/>
                        @Model.Address<br />
                        @Model.Zip @Model.City<br />
                        @Model.Country<br />
                    </p>
                    <a id="getAccountsBtn" 
                       href="#" 
                       onclick="GetAccounts(@Model.Id); return false;" 
                       class="btn btn-primary"
                       @(Model.NumberOfAccounts == 0 ? "hidden" : "")>Visa konton</a>
                </div>
            </div>
        </div>
        <div id="accounts">
            <div class="col ml-3">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <h6 class="card-subtitle mb-2 text-muted">Antal konton</h6>
                            @Model.NumberOfAccounts<br/><br/>
                            <h6 class="card-subtitle mb-2 text-muted">Totalt belopp</h6>
                            @Model.TotalBalanceOfAllAccounts.ToString("N") SEK<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

