@model PriyangaBankAdmin.ViewModels.Kundregister.CustomerItem
@{
    Layout = null;
}
<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.NationalId</td>
    <td>@Model.City</td>
    <td>@Model.NumberOfOwnAccounts</td>
    <td><a asp-controller="Konton" asp-action="Index" asp-route-id="@Model.Id">Visa Kundbild</a></td>
</tr>

