@model PriyangaBankAdmin.ViewModels.Kundregister.KundregisterGetAccountsViewModel
@{
    Layout = null;
}

    

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Kontonummer</th>
                <th scope="col">Skapad</th>
                <th scope="col">Sparalternativ</th>
                <th scope="col">Totalt belopp</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Accounts)
            {
                <tr> 
                    <td class="pl-4">@item.AccountId</td>
                    <td>@item.Created.ToString("D")</td>
                    <td>@item.Frequency</td>
                    <td>@item.Balance.ToString("N") SEK</td>
                    <td><a asp-controller="Konto" asp-action="Index" asp-route-accountId="@item.AccountId">Visa Detaljer</a></td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td class="pb-0" colspan="5">
                    <h5 class="mb-0">Total belopp: @Model.TotalBalanceOfAllAccounts.ToString("N") SEK</h5>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>