@using System.Security.Cryptography.X509Certificates
@model PriyangaBankAdmin.ViewModels.Kundregister.KundregisterIndexViewModel
@{
    ViewData["Title"] = "Kundregister";
}

<div class="card p-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Kundnummer</th>
            <th scope="col">Namn</th>
            <th scope="col">Personnummer</th>
            <th scope="col">Stad</th>
            <th scope="col">Ägare av antal konton</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AllCustomers)
        {
            <partial name="_customerRow" model="item" />
        }

        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center flex-wrap">
                        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link text-primary"
                               asp-controller="Kundregister"
                               asp-action="Index"
                               asp-route-page="1">First</a>
                        </li>
                        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                            <a class="page-link text-primary"
                               asp-controller="Kundregister"
                               asp-action="Index"
                               asp-route-page="@(Model.CurrentPage - 1)">Prev</a>
                        </li>
                        
                        @foreach (var pa in Model.DisplayPages)
                        {
                            <li class="page-item @(Model.CurrentPage == pa ? "active text-light" : "")">
                                <a class="page-link @(Model.CurrentPage != pa ? "text-primary" : "")"
                                   asp-controller="Kundregister"
                                   asp-action="Index"
                                   asp-route-page="@pa">@pa</a>
                            </li>
                        }

                        <li class="page-item @(Model.CurrentPage == Model.TotalPageCount ? "disabled" : "")">
                            <a class="page-link text-primary"
                               asp-controller="Kundregister"
                               asp-action="Index"
                               asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                        </li>
                        <li class="page-item @(Model.CurrentPage == Model.TotalPageCount ? "disabled" : "")">
                            <a class="page-link text-primary"
                               asp-controller="Kundregister"
                               asp-action="Index"
                               asp-route-page="@(Model.TotalPageCount)">Last</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
        </tfoot>
    </table>
</div>



@section Scripts {
    <script>
        function FetchKundbild(id) {
            
            $.ajax({
                url: "/Kundregister/_CustomerDetails?q=" + id,
                success: function (result) {
                    $('#customerResult').html(result);
                }
            });
        }
    </script>
}