@model PriyangaBankAdmin.ViewModels.Home.Konto.TransactionItem
@{
    Layout = null;
}

<tr>
    <td class="pl-4">@(Model.TransactionDescription.Length != 0 ? @Model.TransactionDescription : "Interest credited")</td>
    <td>@Model.Date.ToShortDateString()</td>
    <td>@Model.Amount.ToString("N")</td>
    <td>@Model.Balance.ToString("N")</td>
</tr>

